<% @viewing_auctions = true %>
<% item = Item.find(auction.item_id) %>
<%= render item %>
<tr>
  <td class="auction">
    <span "auction-description"><%= auction.description %></span><br />
    <span "auction-bid"><strong>Current bid:</strong> <%= get_current_bid auction %></span><br />
    <span "auction-high-bidder"><strong>High bidder:</strong> <%= get_bidder_name auction %></span><br />
    <span "auction-buyout"><strong>Buyout price:</strong> <%= get_buyout_price auction %></span><br />
    <% if signed_in? %>
      <% if auction.creator_id != current_user.id %>
        <% if character_selected? and current_character.campaign_id == item.campaign_id %>
          <%= link_to("Bid!", :controller=>"auctions", :action => 'bid', :id => auction.id) %>
          <% if auction.buyout_price > 0 and auction.buyout_price <= current_character.gold %>
            <br />
            <%= link_to("Buy it now!", :controller=>"auctions", :action => 'buy_it_now', :id => auction.id) %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to("Expire this auction", :controller=>"auctions", :action => 'finish_auction', :id => auction.id) %>
      <% end %>
    <% end %>
  </td>
</tr>
