<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
      <% unless @campaigns.empty? %>
        <table class="campaigns" summary="User campaigns">
          <th>Campaigns</th>
          <%= render @campaigns %>
        </table>
      <% end %>
      <% unless @user.characters.empty? %>
        <table class="characters" summary="User characters">
          <th>Characters</th>
          <%= render @characters %>
        </table>
        <%= will_paginate @characters %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Characters</strong> <%= @user.characters.count %><br/>
      <% if signed_in? %>
        <%= link_to "Create a campaign", newcampaign_path, :class => "createcampaign_button round" %><br />
        <%= link_to "Create a character", newcharacter_path, :class => "createcharacter_button round" %>
      <% end %>
    </td>
  </tr>
</table>
