<table class="profile" summary="Profile information">
      <th><%= @user.name %></th>
  <tr>
    <td class="main">
      <% unless @campaigns.empty? %>
        <table class="campaigns" summary="User campaigns">
          <th>Campaigns</th>
          <%= render @campaigns %>
        </table>
      <% end %>
      <% unless @user.characters.empty? %>
        <% @in_user_profile = true %>
        <table class="characters" summary="User characters">
          <th>Characters</th>
          <%= render @characters %>
        </table>
        <%= will_paginate @characters %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Campaigns</strong> <%= @user.campaigns.count %><br/>
      <strong>Characters</strong> <%= @user.characters.count %><br/>
      <% if signed_in? %>
        <%= link_to "Create a campaign", newcampaign_path, :class => "createcampaign_button round" %><br />
        <%= link_to "Create a character", newcharacter_path, :class => "createcharacter_button round" %><br />
        <% if character_selected? %>
          <strong>Signed in as:</strong> <%= current_character.name %><br />
        <% else %>
          You will need to choose one of your characters for the auction functionality.
        <% end %>
        <% if campaign_selected? %>
          <span class="campaign-options">
            <strong>Campaign selected:</strong> <%= current_campaign.name %><br />
            (this allows you to add 
            <%= link_to("campaignless characters", :controller=>"characters", :action => 'index_campaignless') %>
            to this campaign or 
            <%= link_to("create items", newitem_path) %>
            for this campaign.)
          </span>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
