<tr>
  <td class="character">
    <span class="portrait"><img src="<%= character.img_url %>" /></span><br />
    <span class="name"><%= link_to character.name, character %></span><br />
    <span class="description"><%= character.description %></span><br />
    <% unless @skip_campaign_name %>
      <span class="campaign"><strong>Campaign:</strong> <%= character.campaign_name %></span>
    <% end %>
  </td>
</tr>
<% if @in_user_profile and signed_in? %>
<tr>
  <% if current_character != character %>
    <% if character.owner_id == current_user.id %>
      <td class="select">
        <%= link_to("Choose this character", :controller=>"characters", :action => 'select', :id => character.id) %>
      </td>
    <% end %>
  <% else %>
      <td class="select">
        You are currently signed in as this character
      </td>
  <% end %>
</tr>
<% end %>
<% if @on_campaign_page %>
<tr>
  <td class="edit">
    GM edit buttons will go here
  </td>
</tr>
<% end %>
