<tr class="item">
  <td class="item-picture">
    <span class="picture"><img src="<%= item.image_url %>" /></span>
  </td>
  <td>
    <table>
      <tr>
        <td class="item-name">
          <span class="description"><%= item.name %></span>
        </td>
      </tr>
      <tr>
        <td class="item-name">
          <span class="description"><%= item.description %></span>
        </td>
      </tr>
      <% character = Character.find(item.owner_id) %>
      <% if !@viewing_auctions %>
        <% auction = get_auction(item) %>
        <% if signed_in? and character.owner_id == current_user.id %>
          <% if auction %>
          <tr>
            <td class="item-auction">
            <%= link_to "View this item's auction", auction %>
            </td>
          </tr>
          <% else %>
          <tr>
            <td class="item-auction">
              <%= link_to("Create an auction with this item", :controller=>"items", :action => 'select', :id => item.id) %>
            </td>
          </tr>
          <% end %>
        <% else %>
          <% if auction %>
          <tr>
            <td class="item-auction">
              This item is up for <%= link_to "auction", auction %>!
            </td>
          </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </td>
</tr>
